<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Projects</title>
    </head>
    <body>
        {{> header}}
        <p>Projects Page Text Would Go Here</p>
        {{> footer}}
    </body>
</html>